* {
  margin: 0;
  padding: 0;
}

body{
  background-color: grey;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: top;
  height: 25vh;
  width: 100vw;
  border: 1px red solid;
  /* Aimee changed this to sticky because all other components were starting from the top and not below the nav bar */
  position:fixed;
  top: 0;
  left: 0
}

#navBarTitle{
  flex: 2;
  font-size: 7vh;
  align-self: center;
  margin-left: 5vw;
}

#pawContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px red solid;
  padding: 1vh 1vw 1vh 1vw;
  overflow: visible;
  min-height: 30vh;
  max-width: 20vw;
}

#navButtonsContainer {
  border: 1px green solid;
  display: flex;
}

#centerOfPaw {
  background-color: blue;
  border-radius: 100%;
  border: 5vh solid blue;
  width: 10vw;
  height: 30vh;
  width:30vh;
  margin-top: -12vh;
  clip-path: polygon(54% 29%, 45% 32%, 36% 38%, 24% 48%, 15% 61%, 10% 69%, 8% 86%, 14% 89%, 21% 90%, 31% 87%, 45% 79%, 54% 78%, 70% 81%, 81% 86%, 89% 79%, 89% 66%, 85% 56%, 79% 48%, 74% 41%, 69% 36%);
}

#toeBean1{
  margin-top: 5vh;
  margin-bottom: 0;
  /* width:5vw; */
  overflow: hidden;
}

#toeBean2{
  margin-top: 0;
  margin-bottom: 5vh;
  overflow: hidden;
}


/* mouse over to see menu selections */
.navBarButton {
  background-color: blue;
  color: blue;
  font-size: 1.5vh;
  text-align: center;
  height:10vh;
  width: auto;
  margin: 0vh 0.5vw;
  padding: 1vh 1vw 1vh 1vw;
  border: blue;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.navBarButton:hover {
  background-color: red;
  color: rebeccapurple;
  font-size: 1.5vh;
  width: fit-content;
}

.navBarButton:active {
  background-color: rebeccapurple;
  color: red;
  font-size: 1.5vh;
  width: fit-content;
}

/* menu visible and beans change on mouseover */

/* .navBarButton {
  background-color: blue;
  color: blanchedalmond;
  font-size: 1.5vh;
  text-align: center;
  height:10vh;
  width: auto;
  margin: 0vh 0.5vw;
  padding: 1vh 1vw 1vh 1vw;
  border: blue;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.navBarButton:hover {
  background-color: red;
  color: rebeccapurple;
  font-size: 3vh;
  width: fit-content;
}

.navBarButton:active {
  background-color: rebeccapurple;
  color: red;
  font-size: 3vh;
  width: fit-content;
} */


#logRegComponent {
  position:relative;
  top: 25vh;
  margin-left: 20vw;
  border: 1px white solid;
  height: fit-content;
  width: auto;
  max-width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.logRegForm {
  display: flex;
  flex-direction: column;
}

/* Done by AY */

#siteContainer {
  max-height: 1000px;
  width: 1000px;
  margin-top: 15%;
  display: flex;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  float: center;
  width: 700px;
  border-radius: 2px;
  padding: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.formContent h2 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  font-size: x-large;
}

.formContent div {
  display: block;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 35px;
  border-radius: 3px;
}

.formContent div:last-child {
  border:none;
  margin-bottom: 0px;
  text-align: center;
}

.formContent div > label {
  display: block;
  float: left;
  margin-top: -20px;
  background: grey;
  height: 20px;
  color: black;
  font-size: 20px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.formContent input[type="text"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  height: 25px;
  outline: none;
  border: none;
  line-height: 25px;
  padding: 0;
  margin: 2px;
}

.formContent button {
  background: lightblue;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  border-color: 2px black solid;
  color: black;
}